.progress-bar  {
    .instruction {
        height: auto;
        width: auto;
        margin-left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 10vh;
        p {
            text-align: center;
        }
        .press-txt{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            font-size: 16px;
            color: #000;
            font-weight: bold;
            text-transform: uppercase;
            flex-direction: column;
            .final-txt {
                font-family: 'hudson';
                font-size: 3em;
                margin-bottom: 0px;
            }
            .round-txt {
                font-family: 'kensmark';
                font-size: 6em;
                margin-bottom: 0px;
            }
        }
    }
    .bar-final-cont {
        position: absolute;
        bottom: 20vh;
        left: 50%;
        transform: translateX(-50%);
        &.appear-bar {
            transition: all .5s;
            opacity: 0;
            animation: appearBar .5s ease-out forwards;
            @keyframes appearBar {
                from{opacity: 0;}
                to{ opacity: 1;}
            }
        }
        .bar {
            height: 50px;
            width: 700px;
            border: 1px solid #000;
            bottom: -20vh;
            display: flex;
            background: #B758F1;
            box-shadow: 4px 7px 1px #000;
            border-radius: 100px;
            border:5px solid #000;
            .progress {
                height: 50px;
                width: 350px;
                transition: width .25s;
              }
              .progress-left {
                background: #F0AE57;
                border-bottom-left-radius: 25px;
                border-top-left-radius: 25px;
                position: relative;
                img {
                    position: absolute;
                    height: 150px;
                    width: auto;
                    right: -90px;
                    top: -50px;
                }
              }
              .progress-right {
                background: #B758F1;
                border-bottom-right-radius: 25px;
                border-top-right-radius: 25px;
              }
          }
    }
    .players-container {
        position: relative;
        height: calc(100vh - (50vh));
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .player-cont {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            .container-circle {
                 height: 50px;
                width: 200px;   
                border: 4px solid #000;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom: #fff;
                background: #fff;
                overflow: hidden;
                position: relative;
                .player-txt {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: 2px 0 0 0;
                    transform: translate(-50%, -50%);
                    font-size: 16px;
                    color: #fff;
                    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
                }
                .circle{
                    height: 30px;
                    width: 30px;
                    transition: all .2s;
                    background: purple;
                    border-radius: 100%;
                }
                .full-circle {
                    height: 200px;
                    width: 200px;
                    background: green;
                }
            }
        }
        .player-1 {
            .container-circle {
                border-color: #FFC03F;
            }
        }
        .player-2 {
            .container-circle {
                border-color: #2D9DE7;
            }
        }
        .player-3 {
            .container-circle {
                border-color: #3ADD4A;
            }
        }
        .player-4 {
            .container-circle {
                border-color: #A852FF;
            }
        }
    }
    .touch-pad {
        z-index: 1;
        display: flex;
        width: 300px;
        flex-wrap: wrap;
        justify-content: space-around;
        .touch {
            width: 70px;
            height: 70px;
            background: #FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 5px solid #000;
            border-radius: 8px;
            box-shadow: 4px 7px 1px #000;
            color: #000;
            position: relative;
        }
        .first-touch {
            margin: 0px 100px 10px 100px;
        }
        .haut-touch {
            &:before {
                content: '';
                position: absolute;
                top: 25px;
                left: 50%;
                transform: translate(-50%);
                width: 0; 
                height: 0; 
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 25px solid #000;
            }
        }
        .gauche-touch {
            &:before {
                content: '';
                position: absolute;
                top: 20px;
                left: 50%;
                transform: translate(-50%);
                width: 0; 
                height: 0; 
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent; 
                border-right: 25px solid #000; 
            }
        }
        .bas-touch {
            &:before {
                content: '';
                position: absolute;
                top: 25px;
                left: 50%;
                transform: translate(-50%);
                width: 0; 
                height: 0; 
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 25px solid #000;
            }
        }
        .droite-touch {
            &:before {
                content: '';
                position: absolute;
                top: 20px;
                left: 50%;
                transform: translate(-50%);
                width: 0; 
                height: 0; 
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 25px solid #000;
            }
        }
        .active-touch {
            background: #1D9EFF;
            &:before {
                filter:invert(1);
            }
        }
    } 
}
.kamehameha .players-container .player-cont .container-bar {
    border: none;
    background: transparent;
    box-shadow: none;
    .player-txt {
        color: #fff;
        font-size: 1.2em;
    }
}