@import 'reset';
@import 'variables';
@import 'intro';
@import 'uniqueKey';
@import 'progressBar';
@import 'lastStay';
@import 'kamehameha';

@font-face {
  font-family: 'hudosn';
  src: url('../Font/HUDSON/Hudson\ NY\ Regular.otf');
}
@font-face {
  font-family: 'kensmark';
  src: url('../Font/kensmark/Kensmark-Bold-Slant/Kensmark-03-Bold.otf');
}


html,
body {
  margin: 0;

  canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
}
